<!doctype html>
<html lang="en" ng-app="myapp">

<head>
    <meta charset="utf-8">

    <title>Web Applications [UAM]</title>

    <meta name="author" content="Weronika Zietek">

    <link rel="stylesheet" href="css/main.css">

    <script src="lib/angular.js"></script>
    <script src="js/todoctrl.js"></script>
</head>

    <body>

    <div class="todo-list" ng-controller="TodoCtrl">

        <span class="title">TODO list</span>

        <div id="inputview">
            <input id="new-prod" type="text" placeholder="New task to do" ng-model="inputValue">
            <div class="button" ng-click="addNew()">Add</div>
        </div>

        <ul id="listview">
            <li ng-repeat="element in elements"
                ng-class="{'active': element.status === false}"
                ng-click="check($index)">{{element.value}}</li>
        </ul>

        <div id="footerview">
            <div class="sum-tasks">All tasks to do: <span class="number">{{elements.length}}</span></div>
            <div class="active-tasks">Number of active tasks: <span class="number">{{active}}</span></div>
        </div>

    </div>
    </body>
</html>
